* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.wrapper {
    left: 50%;
    margin-left: -390px;
    position: absolute;
}

.wrapper:after {
    clear: both;
}

h3 {
    margin: 20px 0;
}

.carousel-list {
    list-style: none;
    width: 10000px;
    padding: 0px;
    position: relative;
}

.carousel-element {
    display: block;
    margin-right: 10px;
    float: left;
}

.carousel-element img {
    width: 200px;
    max-height: 110px;
}

.carousel-hider {

    width: 630px;
    overflow: hidden;
    float: left;
}

.carousel-arrow-left, .carousel-arrow-right {
    float: left;
    display: block;
    border: 1px solid grey;
    background-color: lightgrey;
    padding: 5px;
    margin-top: 50px;
}

.carousel-arrow-left:hover, .carousel-arrow-right:hover {
    cursor: pointer;
    background-color: grey;
}

.carousel-arrow-left {

    margin-right: 25px;
}

.carousel-arrow-right {
    margin-left: 25px;
}