@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans.ttf);
}

.all {
    width: 1016px;
    margin: auto;
    padding-left: 50px;
    font-family: OpenSans;
}

header {
    height: 210px;
}

h1 {
    padding-top: 40px;
    font-size: 48px;
}

.logo {
    font-weight: bold;
    height: 130px;
}

.menu {
    font-size: 14px;
    height: 40px;
    width: 966px;
    background-image: url(../img/menu.png);
    background-repeat: repeat-x;
}

.menu li {
    display: inline-block;
    width: 120px;
    color: white;
    text-align: center;
    padding-top: 12px;
}

.menu li:hover {
    height: 40px;
    background-image: url(../img/hover1.png);
    background-repeat: repeat-x;
}

.container {
    width: 966px;
    height: 600px;
}

.leftMenu {
    font-size: 13px;
    width: 240px;
    height: 240px;
}

.leftMenu li {
    display: inline-block;
    width: 240px;
    height: 39px;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    border-top: 1px solid #c8c8c8;
}

.end {
    border-bottom: 1px solid #c8c8c8;
}

.leftMenu li span {
    display: block;
    padding-top: 12px;
    padding-left: 24px;
}

.leftMenu li span:hover {
    font-weight: bold;
    padding-left: 36px;
}

.content {
    float: right;
    height: 581px;
    width: 677px;
}

.image {
    height: 400px;
    background-image: url(../img/velo.png);
    border: 1px solid #c8c8c8;
    margin-bottom: 40px;
}

.worlds {
    height: 140px;
}

p {
    font-size: 13px;
    padding-left: 25px;
    padding-right: 10px;
    line-height: 1.3;
}

footer {
    font-size: 13px;
    height: 40px;
    width: 966px;
    background-image: url(../img/footer_color.png);
    background-repeat: repeat-x;
}

.itemFooter {
    display: inline-block;
}

.itemFooter li {
    display: inline-block;
    width: 120px;
    text-align: center;
    padding-top: 12px;
}

.itemFooteRight {
    display: inline-block;
    width: 440px;
    text-align: right;
}

.itemFooter li:hover {
    height: 40px;
    text-decoration: underline;
}
