@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

$back-color: white;
$wrapper-width: 1440px;
$content-width: 940px;
$info-color: #2a2d32;
$footer-color: #35383c;
$url-color: #ff4e50;

* {
  margin: 0;
  padding: 0;
}

body {
  background: $back-color;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}

.wrapper {
  width: $wrapper-width;
  margin: 0 auto;
}

.up {
  overflow: hidden;
  background: url("../img/up.png");
  width: 100%;
  height: 700px;
  font-family: MontserratBold, Arial;
  color: white;
}

.url {
  display: block;
  font-size: 14px;
  border-radius: 30px;
  margin: 0 auto;
  text-decoration: none;
  span {
    text-align: center;
    display: block;
    padding-top: 10px;
  }
}

.uptext {
  font-size: 13px;
  display: block;
  position: relative;
  color: white;
}

.up__name {
  font-size: 20px;
  display: block;
  position: relative;
  top: 50px;
  left: 250px;
}

.up__login {
  @extend .uptext;
  top: 50px;
  left: 1040px;
}

.up__signup {
  @extend .uptext;
  height: 36px;
  width: 92px;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 30px;
  top: 24px;
  left: 1100px;
  text-decoration: none;
  span {
    text-align: center;
    display: block;
    margin-top: 8px;
  }
}

.up__caption {
  height: 240px;
  width: 490px;
  color: white;
  font-family: MontserratBold, Arial;
  text-align: center;
  display: block;
  margin: 140px auto 0;
}

.up__caption-name {
  font-size: 52px;
  margin-bottom: 18px;
}

.up__caption-small {
  font-family: RobotoLight, Tahoma;
  font-size: 23px;
  margin-bottom: 35px;
}

.up__caption-url {
  @extend .url;
  width: 225px;
  height: 40px;
  color: white;
  font-size: 14px;
  background: $url-color;
}

.content {
  width: $content-width;
  margin: 0 auto;
  background: white;
}

.sliders {
  width: 100%;
  height: 462px;
  margin: 0 auto;
  margin-top: 100px;
}

.sliders__caption, .articles__name, .pictures__name, .search__name {
  font-family: MontserratBold, Arial;
  font-size: 20px;
  text-align: center;
  margin-bottom: 37px;
}

.sliders__slider {
  float: left;
  margin-right: 20px;
  height: 400px;
  width: 300px;
  overflow: hidden;
}

.sliders__last {
  height: 400px;
  width: 300px;
  float: left;
  overflow: hidden;
}

.sliders__box {
  margin: 170px 20px 19px;
  color: #fff;
  width: 260px;
  float: left;
  position: absolute;
}

.slidersBtn {
  float: left;
  height: 55px;
  width: 30px;
  cursor: pointer;
}

.sliders__left1, .sliders__left2, .sliders__left3 {
  @extend .slidersBtn;
  background: url("../img/btnLeft.png");
  margin-right: 200px;
}

.sliders__right1, .sliders__right2, .sliders__right3 {
  @extend .slidersBtn;
  background: url("../img/btnRight.png");
}

.sliders__url {
  font-family: MontserratRegular, Arial;
  font-size: 10px;
  background: $url-color;
  display: inline-block;
  border-radius: 30px;
  width: 70px;
  height: 20px;
  text-decoration: none;
  margin: 20px 0;
  span {
    text-align: center;
    display: block;
    padding-top: 4px;
    color: white;
  }
}

.sliders__box-caption {
  font-family: MontserratBold, Arial;
  font-size: 20px;
}

.sliders__box-info, .articles__text {
  font-family: RobotoLight, Tahoma;
  font-size: 12px;
}

.slider__list1, .slider__list2, .slider__list3 {
  width: 10000px;
  position: relative;
}

.slider__element {
  display: block;
  margin-right: 10px;
  float: left;
}

li {
  list-style-type: none;
}

.articles {
  width: 100%;
  height: 367px;
  margin-top: 100px;
}

.articles__article {
  width: 25%;
  text-align: center;
  height: 220px;
  float: left;
}

.articles__picture {
  height: 121px;
  width: 120px;
}

.articles__caption {
  font-family: MontserratBold, Arial;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
}

.articles__text {
  padding: 20px 18px;
}

.articles__url {
  @extend .url;
  color: $url-color;
  font-family: MontserratBold, Arial;
  font-size: 14px;
  width: 192px;
  height: 40px;
  border: 2px solid $url-color;
  text-decoration: none;
}

.pictures {
  width: 100%;
  height: 1025px;
  margin-top: 100px;
}

.pictures__result {
  width: 100%;
  height: 100%;
}

.search {
  width: 100%;
  height: 260px;
  margin: 100px auto 0;
}

.search__question {
  font-family: RobotoLight, Tahoma;
  font-size: 18px;
  text-decoration: underline;
  text-align: center;
}

#search__form {
  width: 440px;
  display: block;
  margin: 40px auto 0;
}

input[type='text'] {
  font-size: 20px;
  font-family: RobotoLight, Tahoma;
}

#search__text {
  width: 240px;
  height: 40px;
  float: left;
}

#search__submit {
  @extend .url;
  box-sizing: border-box;
  border-radius: 30px;
  height: 40px;
  width: 160px;
  color: #fff;
  font-size: 14px;
  background: #ff4e50;
}

footer {
  width: 100%;
  height: 200px;
  border-top: 4px solid $url-color;
}

.footer {
  padding-top: 40px;
  width: $content-width;
  margin: 0 auto;
}

.footer__name {
  font-family: MontserratBold, Arial;
  text-align: center;
  color: $url-color;
  display: inline-block;
  float: left;
  margin-right: 100px;
  height: 200px;
}

.footer__boxCaption {
  font-family: MontserratBold, Arial;
  font-size: 14px;
  margin-bottom: 15px;
}

.footer__links {
  width: 170px;
  height: 200px;
  float: left;
  a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-family: RobotoLight, Tahoma;
    color: gray;
    margin-bottom: 5px;
  }
}

.grid {
  background: #EEE;
  max-width: $content-width;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.grid-item {
  float: left;
  margin: 10px;
}

.pictures__box {
  margin: 0 auto;
  text-align: center;
}

.footer__design {
  float: right;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  $wrapper-width: 768px;
  $content-width: 768px;
  .wrapper {
    width: $wrapper-width;
    margin: 0 auto;
  }
  .content {
    width: $content-width;
    margin: 0 auto;
    background: white;
  }
  .up {
    background-position-x: -335px;
  }
  .up__name {
    top: 50px;
    left: 50px;
  }
  .up__login {
    top: 25px;
    left: 564px;
  }
  .up__signup {
    top: 0px;
    left: 630px;
  }
  .sliders {
    width: 97%;
  }
  .sliders__slider {
    margin-right: 10px;
  }
  .sliders__last, .sliders__slider {
    width: 236px;
  }
  .sliders__left1, .sliders__left2, .sliders__left3 {
    margin-right: 135px;
  }
  .sliders__box {
    width: 196px;
  }
  .articles__article {
    width: 48%;
  }
  .articles {
    height: 550px;
  }
  .articles__text {
    padding: 20px 100px;
  }
  .pictures {
    height: 1080px;
  }
  .grid-item {
    margin: 5px;
  }
  .footer {
    width: 710px;
  }
}

@media screen and (max-width: 320px) {
  $wrapper-width: 320px;
  $content-width: 320px;
  .wrapper {
    width: $wrapper-width;
  }
  .content {
    width: $content-width;
  }
  .up {
    background: url(../img/up320.png);
    height: 540px;
    background-position-x: -420px;
  }
  .up__name {
    top: 170px;
    left: 78px;
  }
  .up__login {
    top: 18px;
    left: 76px;
  }
  .up__signup {
    top: -8px;
    left: 130px;
  }
  .up__caption {
    height: 236px;
    width: 310px;
    margin-top: 141px;
  }
  .up__caption-name {
    font-size: 32px;
    margin-bottom: 18px;
  }
  .up__caption-small {
    font-size: 17px;
    margin: 22px auto 25px;
    width: 73%;
  }
  .up__caption-url {
    width: 270px;
  }
  .sliders {
    width: 95%;
    height: 795px;
    margin: 36px auto 0;
  }
  .articles__name, .pictures__name, .search__name, .sliders__caption {
    margin-bottom: 37px;
  }
  .sliders__last, .sliders__slider {
    height: 240px;
    margin-bottom: 7px;
  }
  .sliders__box {
    margin: 20px;
  }

  .articles {
    width: 100%;
    height: 1000px;
    margin-top: 35px;
  }
  .articles__article {
    width: 98%;
    text-align: center;
  }
  .pictures {
    width: 95%;
    height: 1025px;
    margin-top: 35px;
  }
  .grid-item {
    margin: 10px auto;
    width: 100%;
  }
  .search {
    width: 96%;
    height: 260px;
    margin: 0px auto 0;
  }
  #search__form {
    width: 96%;
    margin: 24px auto 0px;
    text-align: center;
  }
  #search__text {
    width: 100%;
    height: 40px;
    float: none;
  }
  #search__submit {
    width: 100%;
    margin-top: 10px;
  }
  footer {
    width: 310px;
    height: 200px;
    border-top: 4px solid #ff4e50;
    margin: 0 auto;
  }
  .footer {
    padding-top: 40px;
    width: 96%;
    margin: 0 auto;
  }
  .footer__name {
    float: none;
    margin: 0;
    height: 100%;
    display: block;
  }
  .footer__links {
    float: left;
    height: 70px;
    width: 95%;
    a {
      float: left;
      margin: 5px -28px 0 46px;
    }
  }
  .footer__boxCaption {
    text-align: center;
    width: 95%;
    margin: 12px 15px;
  }
  .footer__design {
    float: none;
    margin: 0 80px;
  }
}