<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<% var i = 0, j = 0;
for(i = 0; i < data.questions.length; i++) { %>
<ul>
    <% for(j = 0; j < data.questions[i].answers[j].length; i++) { %>
    <li class="list-unstyled">
        <!--<label><input type="checkbox" name=ch<%= '' + i + j%>-->
        <!--<p><% data.questions[i].answers[j] %></p>-->
        <!--</label>-->
    </li>
    <% }; %>
</ul>
<% }; %>


</body>
</html>